.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e3e0d5), to(white));
  background-image: linear-gradient(#e3e0d5, white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header ul li {
  border-left: 1px solid #917255;
  border-right: 1px solid #917255;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 20px;
}

.header ul li a {
  color: #917255;
  text-decoration: none;
}

.header ul li a:hover {
  font-size: small;
  -webkit-transition: 1s;
  transition: 1s;
}

img.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
}

ul li {
  list-style-type: none;
}

.main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
}

.hero {
  background-image: url(../img/Cali_Home.png);
  width: 100%;
  height: 90vh;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero h1 {
  font-size: 70px;
  color: #917255;
  font-weight: normal;
  text-align: center;
}

.footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

.footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 20px;
  padding: 20px;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

.footer > div div div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.footer ul {
  list-style: none;
  font-size: 15px;
}

.footer p {
  text-align: center;
}

.footer div div a img {
  width: 50px;
  height: 50px;
  padding: 2px;
  -webkit-transition: 1s;
  transition: 1s;
}

.footer div div a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer div div h3 {
  font-size: 15px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar ul li a {
  color: #917255;
}

.navbar ul li a:hover {
  -webkit-transition: 1s;
  transition: 1s;
  font-size: large;
}

.navbar ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #917255;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.5fr 0.5fr auto 0.5fr;
      grid-template-rows: 0.5fr 0.5fr auto 0.5fr;
      grid-template-areas: "header header" "nav nav" "main main"      "footer footer";
}

/*-------------------------------Body----------------------------------------*/
body {
  font-family: 'LibreBaskerville-Regular';
  color: #ccccc3;
}

/*------------------------------Productos-----------------------------------*/
.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px;
  text-align: center;
}

main section div img {
  width: 250px;
  height: 450px;
}

/*-----------------------------Nosotros---------------------------------------*/
.contenedorNosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  padding: 70px;
  background-color: #91725544;
  margin: 20px;
  border-radius: 20px;
}

/*-----------------------------Contacto---------------------------------------*/
.contenedorContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  padding: 30px;
  background-color: #91725544;
  margin: 20px;
  border-radius: 20px;
}

/*-------------------------------MediaQuerys-----------------------------------*/
@media screen and (max-width: 709px) {
  .hero {
    height: 40vh;
  }
  .hero h1 {
    font-size: 50px;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    height: 60vh;
  }
}
/*# sourceMappingURL=styles.css.map */