@import"variables";

.header{
    background-image: linear-gradient(#e3e0d5,white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    grid-area: header;
    .logo{
        display: flex;
        width: 90px;
    }
    ul{
        display: flex;
        list-style: none;
        li{
            padding: 8px;
            margin-left: 20px;
            background-color: $color-background;
            border-radius: 7px;
             a{
                color: $color-textos;
                text-decoration: none;
                &:hover{
                    font-size: small;
                    transition: 1s;
                }
            }
        }
    }
}


ul li{
    list-style-type: none;
}

.carrito{
    #imagenCarrito{
    width: 5%;
    }
}