@import"variables";

.navbar{
    display: flex;
    justify-content: end;
    grid-area: navbar;
    ul {
        li {
            a{
        color: $color-textos; 
        &:hover{
            transition: 1s;
            font-size: large;
            }
        }
    }
}

}

.navbar ul li:hover{
    transform:  scale(1.1);
}

.carrito{
    display: flex;
    .carrito-text{
        padding-left: 10px;
        #imagenCarrito{
        width: 7%;    
        }
    }
}

#boton-vaciar{
margin-left: 10px;
}