@import"variables";

.navbar{
    display: flex;
    justify-content: center;
    grid-area: navbar;
    ul {
        li {
            a{
        color: $color-textos; 
        &:hover{
            transition: 1s;
            font-size: large;
            }
        }
    }
}

}

.navbar ul li:hover{
    transform:  scale(1.1);
}