/*-------------------Maps----------------------*/

$nosotros:(
     Nosotros:30px,
);

@each $font, $size in $nosotros {
    .contenedor--#{$font}{
        font-size: $size;
    }
}

/*-------------------Mixin---------------------*/

@mixin flexible( $dis , $direction , $just , $align){
    display: $dis;
    flex-direction: $direction;
    justify-content: $just;
    align-items: $align;
}

.productos{
    @include flexible( flex , row , space-between , center );
}

.contenedorContacto{
    @include flexible(flex, column , none , none );
}

/*-----------------Extend-------------------------*/

.nos{
    margin: 20px;
    border-radius: 20px;
    padding: 70px;
}