@import "header";
@import "mayorista";
@import "main";
@import "footer";
@import "navbar";
@import "operaciones";
@import "variables";



*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $color-textos;
  
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr auto 0.5fr;
    grid-template-areas:
    "header header"
    "navbar navbar"
    "main main"     
    "footer footer";
}

/*-------------------------------Body----------------------------------------*/

body{
    font-family: 'LibreBaskerville-Regular';
    color: #ccccc3;
}

/*------------------------------Productos-----------------------------------*/

.productos{
    flex-wrap: wrap;
    margin: 20px;
    text-align: center;
}

main section div img{
    width: 250px;
    height: 450px;
}

/*-----------------------------Nosotros---------------------------------------*/

.contenedorNosotros{
    display: flex;
    font-size: 30px;
    padding: 70px;
    background-color: $color-background;
    margin: 20px;
    border-radius: 20px;
}

/*-----------------------------Contacto---------------------------------------*/

.contenedorContacto{
    font-size: 20px;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    background-color: $color-background;
}


/*-------------------------------MediaQuerys-----------------------------------*/

@media screen and (max-width:768px){
    .main .hero{
        height: 20vh;
    }
    .hero h1{
        font-size: 50px;
    }
    .header{
        flex-direction: column;
        justify-content: center;
    }
    .footer>div{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width:1200px){
    .hero{
        height: 60vh;
    }

}