@import "header";
@import "mayorista";
@import "main";
@import "footer";
@import "navbar";
@import "operaciones";
@import "variables";

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $color-textos;
  
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr auto 0.5fr;
    grid-template-areas:
    "header header"
    "navbar navbar"
    "main main"     
    "footer footer";
}

/*-------------------------------Body----------------------------------------*/

body{
    font-family: 'LibreBaskerville-Regular';
    color: #ccccc3;
}

/*------------------------------Productos-----------------------------------*/

.productos{
    flex-wrap: wrap;
    margin: 20px;
    text-align: center;
    margin-bottom: 100px;
    .card{
        background-color: $color-background;
    }
}

main section div p{
    margin: 1px;
}

main section div img{
    width: 250px;
    height: 400px;
}

/*-----------------------------Nosotros---------------------------------------*/

.contenedor--Nosotros{
    display: flex;
    background-color: $color-background;
    @extend.nos;
    margin-bottom: 250px;
}

.about-section{
    background: url(../img/flora.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: $color-background;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 20px;
    color: $color-textos;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

/*-----------------------------Contacto---------------------------------------*/


.contenedorContacto{    
    font-size: 20px;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    background-color: $color-background;
    margin-bottom: 60px;
}

/*-------------------------------MediaQuerys-----------------------------------*/
@media screen and (max-width:615px){
    .productos{
        justify-content: center;
        .card{
            margin: 30px;
        }
    }
}

@media screen and (max-width:768px){
    .main .hero{
        height: 30vh;
    }
    .hero h1{
        font-size: 40px;
    }
    .header{
        flex-direction: column;
        justify-content: center;
        li{
            margin: 10px;
        }
    }
    .footer>div{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width:1200px){
    .hero{
        height: 60vh;
    .inner-container{
            padding: 80px;
        }
    }
    .navbar{
        display: flex;
        justify-content: flex-start;
        grid-area: navbar;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
    .about-sectionMayorista{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-containerMayorista{
        width: 100%;
    }
    .calendario{
        justify-content: center;
    }
}

@media screen and (max-width:600px){
    .about-sectionMayorista{
        padding: 0;
    }
    .about-section{
        padding: 0;
    }
    .main h2{
        font-size: 20px;
    }
    .main .hero{
        height: 30vh;
        h1{
            font-size: 30px;
        }
    }
    .header{
        flex-direction: column;
        justify-content: center;
    }
    .footer>div{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
   .productos{
       justify-content: center;
       .card{
           margin: 30px;
       }
   }
}

/*-----------------------------------------------------------------Login-------------------------------------------------------------------------------*/
.section-login{
    display: flex;
    justify-content: center;
}
#Titulo-Iniciar{
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
}
.login{
    background-color: $color-background;
    border-radius: 15px;
    height: max-content;
    padding: 2em;
    width: 50%;
}
#formlogin {
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
}
#user{
    border-style: none;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
}
#password{
    border-style: none;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
}
#divRegister{
    display: none;
}
#formRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    width: 100%;
}
#inputEmail{
    border-style: none;
    border-radius: 10px;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}
#inputUser{
    border-style: none;
    border-radius: 10px;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}
#inputPassword{
    border-style: none;
    border-radius: 10px;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}
#imputRegister{
    border-style: none;
    border-radius: 5px;
    font-size: 25px;
    margin-left: 215px;
    padding: 5px;
    text-align: center;
    width: 50%;
}
#newPassw{
    display: none;
}
.btn-login{
    border-style: none;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px;
    text-align: center;
}
.btn-register{
    border-style: none;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px;
    text-align: center;
}
#recuperarContrasenia{
    border-style: none;
    border-radius: 10px;
    font-size: 25px;
    margin-left: 222px;
    padding: 5px;
    text-align: center;
    width: 50%;
}
#newPassw {
    justify-content: center;
    flex-direction: column;
}
#emailRecuperar{
    border-style: none;
    border-radius: 10px;
    font-size: 25px;
    margin: 30px;
    text-align: center;
}
#passRecuperar{
    border-style: none;
    border-radius: 10px;
    font-size: 25px;
    margin: 30px;
    text-align: center;
}
#passConfirm{
    border-style: none;
    border-radius: 10px;
    font-size: 25px;
    margin: 30px;
    text-align: center;
}
#cambiarPass{
    border-style: none;
    border-radius: 10px;
    font-size: 25px;
    padding: 5px;
    margin-left: 222px;
    text-align: center;
    width: 50%;
}
/*-----------------------------------------------------Clima------------------------------------------------------------*/
#contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    text-align: center;
}
#box1{
    border-radius: 10px;
    background-color: rgba(0,0,0,0.767);
    color:azure;   
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
#box2{
    border-radius: 10px;
    background-color: rgba(0,0,0,0.767);
    color:azure; 
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
#box3{
    border-radius: 10px;
    background-color: rgba(0,0,0,0.767);
    color:azure;  
    width: 200px;
    height: 200px;
    margin-right: 20px;
}